<!-- Header -->
<div class="banner-fluid">
  <div class="d-flex align-items-center img-fluid w-100" style="height: 400px; background: url(assets/img/header.png);">

    <div class="pt-md-3 pr-md-3" style="position: absolute; top: 0px; right: 0px;">
      <span class="text-light pixel-font">
        <img src="assets/icons/coin.svg" style="width:20px; margin-top: -7px;">
        1122
      </span>
    </div> 

    <div class="d-flex offset-md-1">
      <img src="assets/icons/female.svg" class="icon" style="width:160px; height:160px;">

      <div style="margin-left: 32px;">
        <p class="text-light pixel-font" style="font-size: 32px;">Eloise Bridgerton</p><br>
        <p class="text-light pixel-font" style="font-size: 14px; margin-top: -15px; text-transform: uppercase"> Level
          1:
          Warrior</p>

        <img src="assets/icons/power.svg" class="float-left" style="width:20px; margin-top: -10px;">
        <div class="level-bg w-50" style="margin-left: 24px; margin-top: -10px;">
          <div class="level w-50"></div>
        </div>

        <button class="pixel-font text-light" style="margin-top: 20px;">Shop</button>
      </div>
    </div>

  </div>
</div>

<!-- Progress Bar -->
<div class="d-flex justify-content-center">
  <span class="mt-5 pixel-font" style="color:#7B1B67; text-transform: uppercase;">My Progress</span>
</div>