<div class="banner banner-fluid">
  <div class="d-flex justify-content-center align-items-center bg-gradient-dark img-fluid w-100" style="height: 445px">

    <div class="d-flex col-12 col-md-10 justify-content-between">
      <div class="d-flex justify-content-start">
        <div class="icon">
          <img src="assets/icons/fem.svg">
        </div>

        <div>
          <p class="text-light pixel-font" style="font-size: 32px; margin-left: 32px;">Eloise Bridgerton</p><br>
          <p class="text-light pixel-font" style="font-size: 14px; margin-left: 32px; margin-top: -20px;"> Level 1:
            Warrior</p>
        </div>

      </div>

      <div class="">
        <span class="text-light pixel-font">1122</span><br>
        <button class="btn-shop pixel-font text-light" style="margin-top: 10px;">Shop</button>
      </div>
    </div>

  </div>
</div>